{% include 'header' %}

{% if cart.item_count > 0 %}
  <section class="p-strip is-bordered is-shallow u-no-padding--top shopping-cart" style="background-color: #fff;">
    <div class="row">
      <div class="col-12 u-sv3">
        <form action="/cart" method="post">
          <ul class="p-list--divided u-no-margin--bottom">
            {% for item in cart.items %}
              {% assign collection_url = item.product.collections.last.url %}
              {% if collection_url == '/collections/frontpage' or collection_url == blank %}
                {% assign collection_url = '/collections/all' %}
              {% endif %}

              {% if forloop.first %}
                {% assign continue_shopping_url = collection_url %}
              {% endif %}

              {% assign min_purchase = '1'  %}
              {% for tag in item.product.tags %}
                {% if tag contains 'min-purchase' %}
                  {% assign min_purchase = tag | remove: 'min-purchase-' %}
                {% endif %}
              {% endfor %}

              {% assign min_increment = '1'  %}
              {% assign min_quantity = '1'  %}

              {% for tag in item.product.tags %}
                {% if tag contains 'increment-by' %}
                  {% assign min_increment = tag | remove: 'increment-by-' %}
                {% elsif tag contains 'min-purchase-10' %}
                  {% assign min_quantity = '10' %}
                {% elsif tag contains 'min-purchase-20' %}
                  {% assign min_quantity = '20' %}
                {% endif %}
              {% endfor %}

              <li class="p-list__item cart_item {% if forloop.first %}u-border--top{% endif %} {% if forloop.last %}u-border--bottom{% endif %}" data-increment-amount="{{ min_increment }}" data-min-amount="{{ min_purchase }}" data-product-index="{{ forloop.index }}">
                {% assign product_icon = 'icon-' %}
                {% if item.title contains 'Desktop' %}
                  {% assign product_icon = product_icon | append: 'desktop.png' %}
                {% elsif item.title contains 'Server' %}
                  {% assign product_icon = product_icon | append: 'servers.png' %}
                {% elsif item.title contains 'Guest' %}
                  {% assign product_icon = product_icon | append: 'vguests.png' %}
                {% endif %}

                <div class="row u-vertically-center">
                  <div class="col-5">
                    <h2 class="p-heading--three"><a href="{{ collection_url }}" title="{{ item.title }}">{{ item.title }}</a></h2>
                  </div>

                  <div class="col-3">
                    <ul class="p-inline-grid u-align--center cart_item--qty">
                      <li>
                        <span class="p-inline-grid__cta decrement" style="line-height: 2.2rem; display: block;">
                          <i class="p-icon--minus"></i>
                        </span>
                      </li>

                      <li>
                        <input class="cart_item--input" type="number" value="{{ item.quantity }}" step="{{ min_increment }}" min="{{ min_purchase }}" readonly required>
                      </li>

                      <li>
                        <span class="p-inline-grid__cta increment" style="line-height: 2.2rem; display: block;">
                          <i class="p-icon--plus"></i>
                        </span>
                      </li>
                    </ul>

                    {% if min_quantity != '1' %}
                      <small class="u-float-right u-no-margin--bottom">Minimum order: {{ min_quantity }}</small>
                    {% endif %}
                  </div>

                  <div class="col-4 u-justified" style="align-items: center;">
                    <a href="/cart/change?line={{ forloop.index }}&quantity=0" class="p-muted-heading" style="color: #666;;">Remove</a>
                    <h3>{{ item.line_price | money_without_trailing_zeros }}</h3>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>

          <div class="row">
            <div class="col-4 p-cart-actions">
              <div class="u-justified u-border--top" style="padding: 2rem 0;">
                <h3 class="p-heading--four u-no-margin--bottom">Subtotal:</h3>
                <h4 class="p-heading--three u-no-margin--bottom">US {{ cart.total_price | money_without_trailing_zeros }}</h4>
              </div>

              <hr style="height: 2px;" />

              <input type="checkbox" id="agree_to_tac" name="agree_to_tac" required><label for="agree_to_tac" style="margin-bottom: 1rem;"><small>{{ settings.tac_copy }}</small></label>

              {% comment %}For the checkout button to work, it needs to use a name attribute set to 'checkout'.{% endcomment %}
              <button class="p-button--positive u-no-margin--bottom" name="checkout" type="submit">Check out</button>
              <a class="p-button--neutral" href="/">Continue shopping</a>

              <hr class="u-hide--medium u-hide--large" />
            </div>

            <div class="col-8" style="padding: 2rem 0;">
              {% if settings.cart_promo_toggle %}
                <div class="row u-sv3">
                  <div class="col-1 col-small-1 col-medium-1">
                    <img src="{{ 'cart_promo_img.png' | asset_url }}" alt="{{ settings.cart_promo__heading }}" />
                  </div>
                  <div class="col-5 col-small-3 col-medium-5">
                    <h3 class="p-heading--four">{{ settings.cart_promo_heading }}</h3>
                    <p>{{ settings.cart_promo_copy }}</p>
                    <a href="{{ settings.cart_promo_link }}">{{ settings.cart_promo_link_copy }} ›</a>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
{% endif %}
