{% if collection.handle == settings.collection_one_hero %}
  {% assign bgcolor = settings.collection_one_hero_bgcolor %}
  {% assign txcolor = settings.collection_one_hero_textcolor %}
{% elsif collection.handle == settings.collection_two_hero %}
  {% assign bgcolor = settings.collection_two_hero_bgcolor %}
  {% assign txcolor = settings.collection_two_hero_textcolor %}
{% elsif collection.handle  == settings.collection_three_hero %}
  {% assign bgcolor = settings.collection_three_hero_bgcolor %}
  {% assign txcolor = settings.collection_three_hero_textcolor %}
{% else %}
  {% assign bgcolor = settings.collection_hero_bgcolor %}
  {% assign txcolor = settings.collection_hero_textcolor %}
{% endif %}

{% include 'header' %}

<section class="p-strip--light is-shallow is-bordered">
  <div class="row u-equal-height">
    {% for product in collection.products %}
      <div class="col-4 p-card">
        <h2>{{ product.title }}</h2>
        <h3 style="color: #2c001e;">{{ product.price | money_with_currency }} <small>{{ settings.home_featured_pricing }}</small></h3>
        {% if product.available %}
          {% if product.variants.size > 1 %}
            {% for variant in product.variants %}
              {% assign min_purchase = '1'  %}
              
              {% for tag in product.tags %}
                {% if tag contains 'min-purchase' %}
                  {% assign min_purchase = tag | remove: 'min-purchase-' %}
                {% endif %}
              {% endfor %}
              
              <form action="/cart/add" method="post">
                <input type="hidden" name="id" value="{{ variant.id }}">
                <input type="hidden" name="quantity" value="{{ min_purchase }}">
                <button type="submit" class="p-button--positive">Add to Cart</button>
              </form>
            {% endfor %}
          {% else %}
            {% assign min_purchase = '1'  %}
            
            {% for tag in product.tags %}
              {% if tag contains 'min-purchase' %}
                {% assign min_purchase = tag | remove: 'min-purchase-' %}
              {% endif %}
            {% endfor %}
            <form action="/cart/add" method="post">
              <input type="hidden" name="id" value="{{ product.variants.first.id }}">
              <input type="hidden" name="quantity" value="{{ min_purchase }}">
              <button type="submit" class="p-button--positive">Add to Cart</button>
              {{ product.metafields.global.CTApostscript }}
            </form>
          {% endif %}
        {% endif %}

        {{ product.description | replace: '<ul>', '<ul class="p-list">' | replace: '<li>**', '<li>' | replace: '<li>', '<li class="p-list__item p-list__item--tall is-ticked">' | replace: '<p>', '<p class="p-product-description">' }}
      </div>
    {% else %}
      <div class="row">
        <div class="col-12">
          <p>There are no products in this view.</p>
        </div>
      </div>
    {% endfor %}
  </div>
</section>