{% include 'header' %}

<section class="p-strip--light">
  <div class="u-fixed-width">
    <h2>{{ settings.home_featured_heading }}</h2>
  </div>

  <div class="row">
    <div class="col-7">
      <p>{{ settings.home_featured_description }}</p>
      {% unless settings.homepage_page == blank or pages[settings.homepage_page].empty? %}
      {% assign page = pages[settings.homepage_page] %}
        {{ page.content | replace: '<ul>', '<ul class="p-list">' | replace: '<li>**', '<li class="p-list__item is-ticked">' }}
      {% endunless %}
    </div>
    <div class="col-4 col-start-large-9">
      {% if settings.home_featured_collection_one %}
      {% assign collect_one = collections[settings.home_featured_collection_one] %}
      <div class="p-card--highlighted">
        <a href="{{ collect_one.url }}" class="row u-equal-height u-vertically-center">
          <div class="col-3 col-small-3 col-medium-3">
            <h3 class="p-heading--four">{{ collect_one.metafields.c_f['[c]Homepage title'] }}&nbsp;&rsaquo;</h3>
            <h4 class="p-heading--three u-no-margin--bottom" style="color: #111;">{{ collect_one.metafields.c_f['[c]Collection Price'] | money_without_trailing_zeros }} {{ settings.home_featured_pricing }}</h4>
            {% unless settings.home_featured_collection_one_desc == blank or settings.home_featured_collection_one_desc.empty? %}
            <h6>{{ settings.home_featured_collection_one_desc }}</h6>
            {% endunless %}
          </div>
        </a>
      </div>
      {% endif %}

      {% if settings.home_featured_collection_two %}
      {% assign collect_two = collections[settings.home_featured_collection_two] %}
      <div class="p-card--highlighted">
        <a href="{{ collect_two.url }}" class="row u-equal-height u-vertically-center">
          <div class="col-3 col-small-3 col-medium-3">
            <h3 class="p-heading--four">{{ collect_two.metafields.c_f['[c]Homepage title'] }}&nbsp;&rsaquo;</h3>
            <h4 class="p-heading--three u-no-margin--bottom" style="color: #111;">{{ collect_two.metafields.c_f['[c]Collection Price'] | money_without_trailing_zeros }} {{ settings.home_featured_pricing }}</h4>
            {% unless settings.home_featured_collection_two_desc == blank or settings.home_featured_collection_two_desc.empty? %}
            <h6>{{ settings.home_featured_collection_two_desc }}</h6>
            {% endunless %}
          </div>
        </a>
      </div>
      {% endif %}

      {% if settings.home_featured_collection_three %}
      {% assign collect_three = collections[settings.home_featured_collection_three] %}
      <div class="p-card--highlighted">
        <a href="{{ collect_three.url }}" class="row u-equal-height u-vertically-center">
          <div class="col-3 col-small-3 col-medium-3">
            <h3 class="p-heading--four">{{ collect_three.metafields.c_f['[c]Homepage title'] }}&nbsp;&rsaquo;</h3>
            <h4 class="p-heading--three u-no-margin--bottom" style="color: #111;">{{ collect_three.metafields.c_f['[c]Collection Price'] | money_without_trailing_zeros }} {{ settings.home_featured_pricing }}</h4>
            {% unless settings.home_featured_collection_three_desc == blank or settings.home_featured_collection_three_desc.empty? %}
            <h6>{{ settings.home_featured_collection_three_desc }}</h6>
            {% endunless %}
          </div>
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</section>


{% unless settings.home_includes_toggle == false %}
  <section class="p-strip">
    <div class="row">
      <div class="col-8">
        <h3>{{ settings.home_includes_heading }}</h3>

        {{ settings.home_includes_copy | replace: '<ul>', '<ul class="p-list">' | replace: '<li>', '<li class="p-list__item is-ticked">' }}
      </div>
    </div>
  </section>
{% endunless %}


<section class="p-strip">
  <div class="u-fixed-width">
    <h2 class="p-muted-heading u-align--center" style="max-width: none;">{{ settings.home_customers_heading }}</h2>
    <ul class="p-inline-images">
      <li class="p-inline-images__item">
      {% if settings.link_customer_one == true %}
        <a href="{{ settings.link_customer_one_url | url_escape }}"><img src="{{ 'logo-bloomberg.png' | asset_url }}" alt="Bloomberg logo" /></a>
      {% else %}
        <img src="{{ 'logo-bloomberg.png' | asset_url }}"  alt="Bloomberg logo" />
      {% endif %}
      </li>

      <li class="p-inline-images__item">
      {% if settings.link_customer_two == true %}
        <a href="{{ settings.link_customer_two_url | url_escape }}"><img src="{{ 'logo-att.png' | asset_url }}" alt="AT&T logo" /></a>
      {% else %}
        <img src="{{ 'logo-att.png' | asset_url }}" alt="AT&T logo" />
      {% endif %}
      </li>

      <li class="p-inline-images__item">
      {% if settings.link_customer_three == true %}
        <a href="{{ settings.link_customer_three_url | url_escape }}"><img src="{{ 'logo-walmart.png' | asset_url }}" alt="Walmart logo" /></a>
      {% else %}
        <img src="{{ 'logo-walmart.png' | asset_url }}" alt="Walmart logo" />
      {% endif %}
      </li>

      <li class="p-inline-images__item">
      {% if settings.link_customer_four == true %}
        <a href="{{ settings.link_customer_four_url | url_escape }}"><img src="{{ 'logo-tmobile.png' | asset_url }}" alt="T-Mobile logo" /></a>
      {% else %}
        <img src="{{ 'logo-tmobile.png' | asset_url }}" alt="T-Mobile logo" />
      {% endif %}
      </li>

      <li class="p-inline-images__item">
      {% if settings.link_customer_five == true %}
        <a href="{{ settings.link_customer_five_url | url_escape }}"><img src="{{ 'logo-ebay.png' | asset_url }}" alt="Ebay logo" /></a>
      {% else %}
        <img src="{{ 'logo-ebay.png' | asset_url }}" alt="Ebay logo" />
      {% endif %}
      </li>

      <li class="p-inline-images__item">
      {% if settings.link_customer_six == true %}
        <a href="{{ settings.link_customer_six_url | url_escape }}"><img src="{{ 'logo-cisco.png' | asset_url }}" alt="Cisco logo" /></a>
      {% else %}
        <img src="{{ 'logo-cisco.png' | asset_url }}" alt="Cisco logo" />
      {% endif %}
      </li>

      <li class="p-inline-images__item">
      {% if settings.link_customer_seven == true %}
        <a href="{{ settings.link_customer_seven_url | url_escape }}"><img src="{{ 'logo-ntt.png' | asset_url }}" alt="NTT logo" /></a>
      {% else %}
        <img src="{{ 'logo-ntt.png' | asset_url }}" alt="NTT logo" />
      {% endif %}
      </li>

      <li class="p-inline-images__item">
      {% if settings.link_customer_eight == true %}
        <a href="{{ settings.link_customer_eight_url | url_escape }}"><img src="{{ 'logo-bestbuy.png' | asset_url }}" alt="Best Buy logo" /></a>
      {% else %}
        <img src="{{ 'logo-bestbuy.png' | asset_url }}" alt="Best Buy logo" />
      {% endif %}
      </li>

    </ul>
  </div>
</section>

<section class="p-strip--light">
  <div class="u-fixed-width">
    <h2>Also available</h2>
  </div>

  <div class="row u-equal-height">
    <div class="col-6 p-card">
      <h3 class="p-card__title">Kubernetes</h3>
      <p class="p-card__content u-sv2">Canonical provides training on Kubernetes deployment and operations, with optional extensions for AI/ML development. We can also set up and operate your Kubernetes cluster for you, with in-house experts available at all times to stand up and scale your cluster. And when you're ready, we hand over the keys.</p>
      <a class="p-link--external" href="https://ubuntu.com/kubernetes">Kubernetes support options</a>
    </div>

    <div class="col-6 p-card">
      <h3 class="p-card__title">OpenStack</h3>
      <p class="p-card__content u-sv2">Canonical designs and builds OpenStack private clouds on Ubuntu, including migration from VMware. With BootStack we manage your OpenStack cloud until you are ready to take over.  And our training helps your engineers become OpenStack experts.</p>
      <a class="p-link--external" href="https://ubuntu.com/openstack">OpenStack support options</a>
    </div>
  </div>
</section>


<section class="p-strip--dark" style="background-color: #2c001e;">
  <div class="u-fixed-width">
    <h2>{{ settings.home_canonical_heading }}{% if settings.home_canonical_heading_img == true %} <img src="https://assets.ubuntu.com/v1/3c7954dd-logo-canonical-white.svg" alt="Canonical logo" style="height:1.7rem;">{% endif %}</h2>
    <p>{{ settings.home_canonical_description }}</p>
    <p><a href="{{ settings.home_canonical_link | url_param_escape }}" class="p-link--external p-link--inverted">{{ settings.home_canonical_link_text }}</a></p>
  </div>
</section>
