<footer>
  <div class="p-strip is-shallow is-bordered">
    <div class="row">
      {% if linklists.footer.links.size > 0 %}
      <div class="col-3">
        <h4 class="p-muted-heading">{{ settings.footer_nav_headline | upcase }}</h4>
        <ul class="p-list">
        {% for link in linklists.footer.links %}
          <li class="p-list__item"><a href="{{ link.url }}" title="{{ link.title }}"{% if link.active %} class="active"{% endif %}>{{ link.title }}</a></li>
        {% endfor %}
        </ul>
      </div>
      {% endif %}

      <div class="col-5">
        <h4 class="p-muted-heading">{{ settings.footer_help_headline | upcase }}</h4>
        <div>{{ settings.footer_help_content | newline_to_br }}</div>
        {% if settings.footer_help_button_display == true %}
        <div>
          <a href="{{ settings.footer_help_button_link | url_escape }}" class="p-button--positive">{{ settings.footer_help_button_text }}</a>
        </div>
        {% endif %}
      </div>

      <div class="col-4">
        <h4 class="p-muted-heading">{{ settings.footer_contact_headline | upcase }}</h4>
        <div>{{ settings.footer_contact_content | newline_to_br }}</div>
      </div>
    </div>
  </div>

  <div class="p-strip is-shallow">
    <div class="u-fixed-width">
      <p role="contentinfo">&copy; {{ "now" | date: "%Y" }} {{ settings.footer_copyright_text }} <a href="{{ settings.footer_copyright_link | url_escape }}" class="link-style--external">{{ settings.footer_copyright_link_text }}</a></p>
    </div>
  </div>
</footer>
