{% if template contains 'index' %}	
  <section style="background-color: {{ settings.homepage_hero_bgcolor }}; color: {{ settings.homepage_hero_textcolor }};">
    <div class="p-strip p-strip--suru is-deep">
      <div class="u-fixed-width">
        <h1>{{ settings.homepage_main_heading }}</h1>
        <h2 class="p-heading--four">{{ settings.homepage_sub_heading }}</h2>
        <a class="p-button--positive" href="/collections/ubuntu-advantage-for-infrastructure-essential">Get started with our Essential plan from $25</a>
        <p><a class="p-link--inverted p-link--external" href="https://ubuntu.com/support" title="Get UA Infrastructure Essential" target="blank">Learn more about our support options</a></p>
      </div>
    </div>
  </section>
{% elsif template contains 'cart' %}
  <section class="cart-header" style="background-color: #f7f7f7;">
    <div class="p-strip">
      <div class="row">
        <div class="col-12">
          <h1>Shopping Cart</h1>
          {% if cart.item_count < 1 %}
            <h2>It appears that your cart is currently empty.</h2>
            <h3>You can continue browsing <a href="/">here</a>.</h3>
          {% endif %}
        </div>
      </div>
    </div>
  </section>

{% elsif template contains 'collection' %}
  <div class="u-hide">{{ collection.handle }}</div>

  <section style="background-color: #fff;">
    <div class="p-strip">
      <div class="row u-vertically-center">
        <div class="col-8">
          <h1>{{ collection.title }}</h1>
          
          {% unless collection.description == blank or collection.description.empty? %}
            <p class="p-heading--four">{{ collection.description }}</p>
          {% endunless %}
        </div>
      </div>
    </div>
  </section>
{% else %}
  <section>
    <div class="p-strip">
      <div class="u-fixed-width">
        <h1>{{ template }}</h1>
      </div>
    </div>
  </section>
{% endif %}
