<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KF4T52B');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KF4T52B"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{ skip_to_content_link }}

    <div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </div>

    {{ order_summary_toggle }}

    <div class="content" data-content>
      <div class="wrap">
        <div class="main" role="main">
          <div class="main__header">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </div>
          <div class="main__content">
            {{ content_for_layout }}
          </div>
          <div class="main__footer">
            {{ content_for_footer }}
          </div>
        </div>
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </div>
      </div>
    </div>

    {{ tracking_code }}
    
    <!-- Sufio VAT snippet -->
    <div class="additional-checkout-fields" style="display:none">
      <div class="fieldset fieldset--vat-number" data-additional-fields>
        <div class="field field--optional field--vat-number">
          <div class="field__input-wrapper">
            <label class="field__label field__label--visible" for="checkout_vat_number">VAT number</label>
            <input placeholder="VAT number" autocomplete="vat number" data-backup="checkout_vat_number" class="field__input" aria-labelledby="error-for-vat_number" size="30" type="text" name="checkout[attributes][VAT Registration Number]" id="checkout_vat_number" value="{{ checkout.attributes["VAT Registration Number"] }}" />
           </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      if (window.jQuery) {
        jquery = window.jQuery;
      } else if (window.Checkout && window.Checkout.$) {
       jquery = window.Checkout.$;
      }

      jquery(function() {
        if (jquery('.section--billing-address .section__content').length) {
          var vat_number_field = jquery('.fieldset--vat-number');
          jquery('.section--billing-address .section__content').append(vat_number_field);

          var form = jquery('.section--billing-address .section__content').parents('form');

          jquery('button[type=submit]', form).one("click", function() {    
            var email = jquery('input[name="checkout[email]"]').val();
            var vat_no = jquery('input[name="checkout[attributes][VAT Registration Number]"]').val();
            if ((email) && (vat_no)) {
                jquery.ajax({
                    type : "GET",
                    dataType: "jsonp",
                    url: "{{ shop.url }}/apps/sufio/customer-vat/",
                    data: { email: email, vat_no: vat_no },
                    success: function(data) {
                        // Proceed to the next step after successfully sending the VAT number
                        jquery('button[type=submit]', form).click();
                    }
                });
            } else {
                return true;
            }

            // Proceed to the next step after one second
            setTimeout( function () { 
                jquery('button[type=submit]', form).click();
            }, 1000);

            return false;
          });
        }
      });
    </script>
    <!-- end Sufio VAT snippet -->
  </body>
</html>
